.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal .container {
    display: flex;
    align-items: center;
    
    
}


.rodapePrincipal-contatoForm-fieldset {
    display: flex;
   
}

.rodapePrincipal-patrocinadores-list {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
}